.site-header{
  width: 100%;
  position: absolute;
  z-index: 3;
}
.site-header__nav{
  max-width: 1177px;
  @include flex;
  justify-content: space-between;
padding: 16px 0;
}
.site-header__btn-block{
  display: none
}
.site-header__logo{
  display: inline-block;
  width: 80px;
  height: 80px;
background-repeat: no-repeat;
background-image: url('../img/Logo.svg');
}
.site-header__list{
  @include flex;
}
.site-header__item+.site-header__item{
  margin-left: 53px;
}
.site-header__link{
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
color: #FFFFFF;
background-color: transparent;
}

@media screen and (max-width:909px) {

  .site-header__list{
    display: none;
  }
  .site-header__btn-block{
    display: inline-block;
  }
  .site-header__btn{
    display: inline-block;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-image: url('../img/menu.png');
    background-color: transparent;
    border: transparent
  }
}

@media screen and (max-width:600px) {
  .site-header__logo{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('../img/Logo-2.svg');
}
}